<div class="card">
    <div class="card-body">
        
        <div class="card-title">
            <div class="row">
                <div class="col">قنوات التواصل</div>
            </div>
        </div>

        <div>
            <div class="mb-3">
                <label class="form-label">رقم التليفون</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">واتساب</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">موقع إلكتروني</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">فيسبوك</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">تويتر</label>
                <input type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">انستجرام</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        
    </div>
</div>