:host::ng-deep {
    position: relative;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    display: block;
    .map-container {
        width: 100% !important;
        margin: 1.5rem 0;
        border-radius: 0.75rem;
    }
    .cluster div {
        color: #143b61 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -9px;
        bottom: 0;
        margin: auto;
        font-weight: bold;
        font-size: 14px;
    }
    .cluster img {
        // width: 50%;
        // opacity: 0.5;
    }

    .cluster {
        //     border: 1px solid #ddd;
        // background: #fff;
        // border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
