<div class="card">
    <div class="card-body">
        <div class="card-title">{{ 'client_pages.partners_page.shops_and_services' | translate }}</div>

        <div class="partners-list">
            <div class="media-card align-items-center">
                <div class="flex-shrink-0">
                    <div class="media-icon">
                        <span class="icon-pos"></span>
                    </div>
                </div>
                <div class="flex-grow-1 ms-3">
                    شركة الاستثمار لتجهيز المنتجات
                </div>
                <a href="#" [routerLink]="['/client/partners/partner']" class="flex-shrink-0">{{ 'global.view' | translate }}</a>
            </div>
        </div>
    </div>
</div>