:host::ng-deep {
    position: relative;
    overflow: hidden;
    display: block;

    &::-webkit-scrollbar {
    width: 0.3rem;
    }
    
    &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #afb0b0;
        outline: 1px solid #cdd0d3;
    }

    .map-container {
        height: calc(100vh - 200px) !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }
    .filter-tabs {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 15px 0 0;
        li {
            width: 100%;
            text-align: center;
            background: #fff;
            padding: 10px 0;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            margin: 0;
            box-shadow: 0 0.125rem 0.25rem #00000013;
            border: 1px solid #143b61;
            color: #143b61;
            cursor: pointer;
            &:first-child {
                margin-left: 5px;
            }
            &:last-child {
                margin-right: 5px;
            }
            &.active {
                background: #143b61;
                color: #fff;
            }
        }
    }

    .filter-section {
        width: 100%;

        .filter-header {
            border-bottom: 3px solid #143b61;

            padding: 15px 0;
        }
        .filter-dropdowns {
            display: block;

            ng-multiselect-dropdown {
                width: 100%;

                margin-bottom: 0.5rem;

                .multiselect-dropdown {
                    margin-bottom: 0.5rem;
                    .dropdown-btn {
                        background: #ffffff;

                        padding: 0 5px !important;
                        // padding-inline-end: 60px !important;
                        height: 43px !important;
                        line-height: 30px !important;
                        text-align: start !important;
                        color: #a2b3be;
                        border-color: #dee2e6;
                        font-size: 1rem;
                        text-align: start !important;

                        // > span:last-child {
                        //     display: none;
                        // }
                        .dropdown-multiselect__caret {
                            display: none !important;
                        }

                        .selected-item-container {
                            float: right !important;

                            .selected-item {
                                white-space: nowrap;
                                display: flex;
                                justify-content: space-between;
                                max-width: 120px;

                                border-color: #19acc8 !important;
                                background: #1badc8 !important;
                                border-radius: 0 !important;
                                font-size: 0.85rem !important;

                                &:hover {
                                    box-shadow: none !important;
                                }

                                a {
                                    margin-inline-start: 0.5rem;
                                }
                            }
                        }

                        &::before {
                            font-family: "SDB-icon-font", sans-serif;
                            content: "\e908";
                            color: #143b61;
                            width: 20px;
                            height: 24px;
                            float: left;
                            transform: rotate(90deg);
                             font-size: 12px;
                             margin-top: 6px;
                        }
                    }
                }

                .dropdown-list {
                    position: relative;
                    width: auto;
                    min-width: 100%;
                    padding: 0;
                    box-shadow: 0px 7px 10px rgba(41, 38, 50, 0.03);
                    border-radius: 0;

                    margin: 0;
                    border: 1px solid #dee2e6;
                    border-top: 0;
                    @media screen and (max-width: 480px) {
                        min-width: calc(100vw - 1rem);
                    }

                    li {
                        input[type="checkbox"] {
                            & + div {
                                color: #17355a;

                                &::before {
                                    width: 1rem;
                                    height: 1rem;
                                    border: 1px solid #c7d1d8;
                                    border-radius: 0;
                                    top: 0.75rem;
                                }

                                &::after {
                                    width: 0.5rem;
                                    height: 0.25rem;
                                    border-width: 0 0 2px 2px;
                                    top: 0.75rem;
                                    left: 0.25rem;
                                }
                            }

                            &:checked {
                                & + div {
                                    &::before {
                                        background: #1aaec8;
                                        border-color: #1aaec8;
                                    }
                                }
                            }
                        }

                        [dir="rtl"] & {
                            text-align: right;

                            input[type="checkbox"] + div {
                                padding-left: inherit;
                                padding-right: 2rem;

                                &::before {
                                    left: auto;
                                    right: 0;
                                }

                                &::after {
                                    left: auto;
                                    right: 0.25rem;
                                }
                            }
                        }
                    }

                    // [dir=rtl] & li {
                    //     text-align: right;

                    //     input[type=checkbox] + div {
                    //         padding-left: inherit;
                    //         padding-right: 2rem;
                    //         &::before {
                    //             left: auto;
                    //             right: 0;
                    //         }

                    //         &::after {
                    //             left: auto;
                    //             right: 4px;
                    //         }
                    //     }
                    // }
                }
            }

            .advanced-search-btn {
                min-width: 150px;
                height: 50px;
                font-weight: bold;
                box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
                color: #a2b3be;
                background: #ffffff;

                &:hover {
                    color: #19acc8;
                }

                &.active {
                    background: #19acc8;
                    border-color: #19acc8;
                    color: #ffffff;
                }
            }

            .statistics-interactive-map-select.form-select {
                width: 100%;
                display: block;
                margin-bottom: 0.5rem;

                background: #ffffff;

                height: 43px !important;
                line-height: 30px !important;
                text-align: start !important;
                color: #a2b3be;

                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
                background-repeat: no-repeat !important;
                background-position: left 6px top 0.6rem!important;
    background-size: 13px 26px!important;
                -webkit-appearance: none !important;
                padding: 0 5px;
            }
        }
    }
}

.map-warp {
    padding: 20px 100px 20px 20px;
    background: #f1f4f6;
}

.sidebar {
    height: 100%;
    position: absolute;
    background: #fff;
    width: 80px;
    transition: 0.4s linear;
    box-shadow: -7px 0 60px rgba(0, 0, 0, 0.05);
    z-index: 1;
    .top-section {
        position: relative;
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
            0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        padding: 10px;
        .logo {
            opacity: 0;
            transition: 0.4s linear;
            width: 0;
        }
        .sidebar-toggle-btn {
            color: #19aec8;
            font-size: 22px;
            text-align: center;
            transition: 0.4s linear;
            cursor: pointer;
            display: flex;
            border: 1px solid;
            line-height: 1;
            padding: 5px;
            border-radius: 3px;
            justify-content: center;
            align-items: center;
        }
    }

    .sidebar-menu {
        height: calc(100% - 80px);
        overflow-y: auto;
        .top-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            .menu-group-title {
                text-transform: uppercase;
                font-size: 14px;
                margin: 10px 0 15px;
                font-weight: 700;
                color: #3f6ad8;
                white-space: nowrap;
                position: relative;
                display: none;
            }
            .sidebar-link {
                display: flex;
                align-items: center;
               
                color: #343a40;
                font-size: 15px;
                text-decoration: none;
                position: relative;
                padding: 10px;
                justify-content: center;
                i {
                    color: #343a40;
                    opacity: 0.3;

                    font-size: 18px;
                 
                    text-align: center;
                    transition: 0.4s linear;
                }
                .collapse-icon {
                    color: #343a40;
                    opacity: 0.3;
                    font-size: 12px;
                    display: none;
                }
                .menu-text {
                    display: none;
                }

                &:hover {
                    background: #e0f3ff;
                    i,
                    .collapse-icon {
                        opacity: 0.6;
                    }
                }
                &.active {
                    background: #143b61;
                    color: #fff; 
                    i, .collapse-icon {
                        color: #fff;
                    }
                    
                }
            }
        }
        .fliter-warp-content {
          
            background: #fff;
          
            position: relative;
                transition: padding 300ms;
               padding:10px 2rem 10px 0;
            &::before {
                content: '';
                height: 100%;
                opacity: 1;
                width: 3px;
                background: #e0f3ff;
                position: absolute;
                right: 15px;
                top: 0;
                border-radius: 15px;
            }
        }
    }

    &.active {
        width: 306px;
        .top-section {
            justify-content: space-between;
            .logo {
                opacity: 1;
                width: 180px;
            }
        }
        .sidebar-menu {
            .top-menu {
                .menu-group-title {
                    display: block;
                }
                .sidebar-link {
                    .menu-text {
                        display: block;
                    }
                    i {
                           margin-left: 10px;
                    }
                    .collapse-icon {
                        display: block;
                    }
                }
            }
        }
    }
}
