<div class="container">
  <h2 class="section-title">منافذ البيع</h2>

  <div class="row">
    <div *ngFor="let branch of branches" class="col-md-4 col-sm-6">
      <div class="media-card align-items-center">
        <div class="flex-shrink-0">
          <div class="media-icon">
            <span class="icon-pos"></span>
          </div>
        </div>
        <div class="flex-grow-1 mx-3">
          {{branch.projectNameAr? branch.projectNameAr: branch.projectName}}
        </div>

        <div class="flex-shrink-0">
          <a [routerLink]="['/visitor']" class="link">
            الاتجاه للموقع
            <span class="icon-location-marker"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>