<div class="container-fluid px-0">
    <app-main-info *ngIf="projectInfo" [projectInfo]="projectInfo"></app-main-info>
    <app-project-products *ngIf="projectInfo?.products && projectInfo?.products.length > 0"
        [products]="projectInfo?.products"></app-project-products>
    <app-project-attachments *ngIf="projectInfo?.attachments && projectInfo?.attachments.length > 0"
        [attachments]="projectInfo?.attachments"></app-project-attachments>
    <app-project-branches *ngIf="projectInfo?.branches && projectInfo?.branches.length > 0"
        [branches]="projectInfo?.branches"></app-project-branches>
    <app-project-comments *ngIf="projectInfo?.reviews && projectInfo?.reviews.length > 0" [projectId]="projectInfo?.projectId" [reviews]="projectInfo?.reviews"></app-project-comments>
</div>