<footer>
    <div class="container">
        <div class="row align-items-top">
            <div class="col-lg-4 col-md-6">
                <img src="assets/images/logo-sdb-2030.svg" class="footer-logo" />
                <div class="mb-3 subscribe-form">
                    <label class="form-label">اشترك في قائمة البريد الإلكتروني</label>
                    <input type="email" class="form-control" placeholder="البريد الإلكتروني">
                    <div class="subscribe-btn">
                        <span class="icon-send"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">الأنظمة واللوائح</a></li>
                            <li><a href="#">البيانات السعودية المفتوحة</a></li>
                            <li><a href="#">المشتريات والمنافسات</a></li>
                            <li><a href="#">التوظيف</a></li>
                            <li><a href="#">إحصائيات البوابة والخدمات</a></li>
                            <li><a href="#">خارطة الموقع</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">مختبر الافكار</a></li>
                            <li><a href="#">المشاركة المجتمعية</a></li>
                            <li><a href="#">الحكومة المتكاملة</a></li>
                            <li><a href="#">التنمية المستدامة</a></li>
                            <li><a href="#">استراتيجية أمن المعلومات</a></li>
                            <li><a href="#">الأسئلة الشائعة</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">سياسة الخصوصية</a></li>
                            <li><a href="#">سياسة الاستخدام واخلاء المسؤولية</a></li>
                            <li><a href="#">اتفاق مستوى الخدمة</a></li>
                            <li><a href="#">ميثاق العملاء</a></li>
                            <li><a href="#">سياسة حق الحصول على المعلومات</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 text-center text-lg-start">
                        <h4 class="footer-title">تحميل تطبيقات المحمول</h4>
                        <ul class="download-app-links">
                            <li><a href="#" class="download-app-link"><span class="icon-apple"></span></a></li>
                            <li><a href="#" class="download-app-link"><span class="icon-google-play"></span></a></li>
                            <li><a href="#" class="download-app-link"><span class="icon-huawei"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-4">
            <div class="col-lg-4 col-md-6 text-center text-md-start">
                <ul class="social-links">
                    <li>
                        <a href="#" class="social-link"><span class="icon-instagram"></span></a>
                    </li>
                    <li>
                        <a href="#" class="social-link"><span class="icon-youtube"></span></a>
                    </li>
                    <li>
                        <a href="#" class="social-link"><span class="icon-snapchat"></span></a>
                    </li>
                    <li>
                        <a href="#" class="social-link"><span class="icon-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#" class="social-link"><span class="icon-facebook"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 copyrights text-lg-center text-md-end text-center">
                &copy;جميع الحقوق محفوظة <a href="#">لبنك التنمية الاجتماعية</a> 2022
            </div>
        </div>
    </div>
</footer>